*{
	margin: 0px;
	padding: 0px;
	text-decoration: non;
	font-family: century;
}
main,
{
	width: 100%;
	height: 100vh;
	background-image: url(notebook.jpg);
	background-size: cover;
	background-position: center;
}
.navbar
{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo
{
	font-size: 20px;
	color: black;
	font-weight: bold;
	width: 120px;
	cursor: pointer;
}
.navbar ul li
{
	list-style: non;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
.navbar ul li a 
{
	color: black;
	text-transform: uppercase;
}
.navbar ul li::after 
{
	content: '';
	height: 3px;
	width: 0;
	background: green;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
.navbar ul li:hover::after
{
	width: 100%;
}
.content
{
	top: 50%;
	width: 100%;
	text-align: center;
	color: black;
	position: absolute;
	transform: translateY(-50%);
}
.content h1
{
	font-size: 80px;
	margin-top: 80px;
}
.content p
{
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
	font-weight: bold;
}
button
{
	width: 200px;
	margin: 20px 0;
	padding: 15px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	background: transparent;
	border: 3px solid black;
	background-color: whitesmoke;
	position: relative;
	cursor: pointer;
	border-radius: 10px;
	overflow: hidden;
}


